.flex{
	display: flex;
	justify-content: center;
	background-color: #fff;
}
.color-background-first{
	background: #848B8D;
	@include tablets {
		background: linear-gradient(180deg, #848B8D 0%, rgba(255, 255, 255, 0) 100%), #FDFBFE;
	}
}
.color-background-second{
	background-color: #F5F5F5;
}
.color-background-gradstart{
	background: linear-gradient(180deg, #848B8D 0%, rgba(255, 255, 255, 0) 40%), #FDFBFE;
	@include tablets {
		background: #fff;
	}
}
.color-background-gradend{
	background: linear-gradient(360deg, #DBDBDB 0%, rgba(255, 255, 255, 0) 30%), #FDFBFE;
}
.l-main-title>span{
	font-weight: bold;
}
.bold-p{
	color: #090E0D;
	font-weight: normal;
	padding-top: 50px;
	padding-left: 4%;
	@include tablets {
		padding-left: 0px;
	}

	@include phones {
		padding-left: 0px;
		margin-left: auto;
		margin-right: auto;
	}
}
.pad-c{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 4%;
	padding-left: 4%;
	@include tablets {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	@include phones {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
.title-color-gray{
	color: #455568 !important;
}
.paragraph-color-gray{
	color: #85939B !important;
}
.l-center-end{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}